* {
  padding: 0;
  margin: 0;
}
/* register css */
.bg-light {
  background-color: #ffff !important;
}
body {
  color: black;
  background: #eee;
  font-family: "Roboto", sans-serif;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
}
.navbar a:hover {
  color: #3498db !important;
}
.form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 15px;
}
.signup-form h2,
.signin-form h2 {
  color: #636363;
  margin: 0 0 45px;
  position: relative;
  text-align: center;
}
/* .signup-form h2:before, .signup-form h2:after {
content: "";
height: 2px;
width: 30%;
background: #d4d4d4;
position: absolute;
top: 50%;
z-index: 2;
}	 */
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form,
.signin-form,
.contact_form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f3faf3;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 2rem;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form input,
.signin-form input,
.selectInp,
.contact_form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fefafe;
  width: 80%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 1.3rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.signup-form .btn {
  margin-top: 70px;
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  background: #5cb85c;
  color: #fff;
  outline: none !important;
  border-radius: 15px;
}
.signup-form .btn:hover {
  color: #5cb85c;
  background: #fff;
  text-decoration: underline;
  cursor: pointer;
  border: 1px solid #5cb85c;
}
.signup-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.signup_img {
  width: 100%;
}
/* login css */

.signin-form .btn,
.contact_submit_button,
.rule-btn {
  margin-top: 70px;
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  background: #00a6ff;
  color: #fff;
  outline: none !important;
  border: transparent;
  border-radius: 15px;
  transition: 0.6s;
}
.signin-form .btn:hover,
.contact_submit_button:hover,
.rule-btn:hover {
  color: #00a6ff;
  background: #fff;
  text-decoration: underline;
  cursor: pointer;
  border: 1px solid #00a6ff;
}
.signin-image-link {
  color: #5cb85c;
}
.signin-image-link:hover {
  color: #0aaa1c;
}

/* Contact Us CSS */

.contact_form input {
  margin: 1rem;
}
.contacct_form_message {
  outline: 0;
  background: #fefafe;
  width: 80%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.contact_submit_button {
  width: 40%;
  height: 3rem;
}
.input-field {
  width: 100%;
  margin: 0px;
}
@media only screen and (max-width: 480px) {
  .contact_form_name {
    flex-direction: column;
  }
}

/* Home page css */

.Home_page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_div {
  text-align: center;
}
.Home_div p {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-style: italic;
  font-weight: bold;
  color: #00a6ff;
}
.Home_div h1 {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: initial;
  font-size: 5rem;
  font-family: monospace;
  text-shadow: 5px 5px 10px #ddd;
  letter-spacing: 0.3rem;
}

.btnmain {
  padding: 0.6rem 3rem;
  background-color: #00a6ff;
  color: #fff;
  border: transparent;
  border-radius: 20px;
  outline: none;
  transition: 0.5s;
  font-size: 1.4rem;
}
.btnmain:hover {
  background-color: #fff;
  color: #00a6ff;
  cursor: pointer;
  border: 1px solid #00a6ff;
  text-decoration: underline;
}

/* About css */

.emp_profile .form_content {
  background: #eee;
}
.about-info {
  background: #fefefe;
  margin-bottom: 10px;
}
.about-info p {
  color: #00a6ff;
}

/* 404 page not found */

#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.notfound .notfound404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}
.notfound .notfound404 h1 {
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}
.notfound p {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}
.notfound a {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  background: #189cf0;
  color: #fff;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

/* Rule page css */

.rule-div {
  background: #f6faf6;
  padding: 2rem;
  border-radius: 3rem;
}

.rule-div input {
  outline: 0;
  width: 5rem;
  padding: 0.5rem;
  border: 1px solid #aeaeae;
  box-sizing: border-box;
  font-size: 1rem;
  margin-right: 0px;
  margin-top: 1rem;
  box-shadow: 12px 10px 20px 1px #cecece;
}
.subdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.subdiv .btn {
  width: 30%;
  margin: 1rem;
}

/* Deafulter page */

.def-table {
  border-radius: 5px;
  margin-bottom: 5rem;
}
.row-defaulter {
  background: #bae1f7;
  padding-top: 1px;
  border: 1px solid #000;
}
.def-cell {
  border: 3px solid #eee;
  height: 2rem;
  padding-top: 1px;
  border: 1px solid #eee;
}
.row-defaulter-info {
  background: #d9eef3;
  border: 3px solid #eee;
}

/* Room allotment page */

.allot_fields {
  padding: 1rem;
}
.allot_label {
  padding: 1rem;
}
.leader_field {
  background: #eee;
  margin-top: 2px;
  font-size: large;
  font-weight: bold;
  border: 1px solid #999;
  padding: 1rem;
}

.allot_input_div input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 8rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.room-check-btn {
  padding: 5px;
  width: 10rem;
  height: 3rem;
  background-color: #ffa600;
  color: #fff;
  border: transparent;
  border-radius: 20px;
  outline: none;
  transition: 0.5s;
  margin-top: 1rem;
}
.room-check-btn input {
  background-color: #ffa600;
}
.room-check-btn:hover {
  background-color: #fff;
  color: #ffa600;
  cursor: pointer;
  border: 1px solid #ffa600;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
  .rule-div {
    padding: 0px;
  }
  .leader_field,
  .allot_input_div input {
    margin-left: 2rem;
  }
}
/* Main carousel */

.carcon {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carbtn .btn {
  color: black;
  margin: 1.5rem;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.carbtn .btn:hover {
  color: white;
  border-color: white;
}
.carousel-div {
  height: 100vh;
}
.carousel-div img {
  height: 100vh;
}
.carblack {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.5;
}
